<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Ma Navbar</a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/wild/">Liste des séries</a>
            <a class="nav-item nav-link" href="/category/add/">ADD Catégory</a>
            <a class="nav-item nav-link" href="/program/">CRUD Program</a>
            <a class="nav-item nav-link" href="/season/">CRUD Season</a>
            <a class="nav-item nav-link" href="/episode/">CRUD Episode</a>
            <a class="nav-item nav-link" href="/actor/">CRUD Acteur</a>
            {% if app.user %}
                <a class="nav-item nav-link" href="">{{ app.user.email }}</a>
                <a class="nav-item nav-link" href="{{ path('app_logout') }}"> Se déconnecter</a>
            {% else %}
                <a class="nav-item nav-link" href="{{ path('app_login') }}"> Se connecter</a>
            {% endif %}
        </div>
    </div>
</nav>